<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% comment %} if the current url has 'tagged' no-index it {% endcomment %}
    {% if request.path contains 'tagged' %}
        <meta name="robots" content="noindex">
    {% endif %}

    <script>
        {% comment %} Customer email {% endcomment %}
        window.CUSTOMER_EMAIL = {% if customer.email %}'{{ customer.email }}'{% else %}null{% endif %};

        {% comment %} Current locale {% endcomment %}
        window.LOCALE = '{{ request.locale.iso_code }}';
        window.CURRENCY_CODE = '{{ cart.currency.iso_code }}';
    </script>

    {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'main.css' | asset_url | stylesheet_tag }}

</head>
<body>
    <div class="w-full h-12 bg-red-500 text-white flex items-center">
        <div class="w-full max-w-7xl mx-auto px-4">
            <p class="font-bold text-lg uppercase">Staging</p>
        </div>
    </div>

{% comment %}{% section 'top-info-bar' %}{% endcomment %}

{% section 'header' %}

{% comment %}{% render 'breadcrumbs' %}{% endcomment %}

{{ content_for_layout }}

{% section 'footer' %}
<script src="{{ 'main.js' | asset_url }}" defer></script>

{% comment %}{% render 'cookie-banner' %}{% endcomment %}
</body>
</html>